{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"tsx": true,
			"arrowFunctions": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"extends": [
		"next/core-web-vitals",
		"eslint:recommended",
		"airbnb-typescript",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:react/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended",
		"plugin:tailwindcss/recommended",
		"some-other-config-you-use"
	],
	"plugins": [
		"react",
		"react-hooks",
		"@typescript-eslint",
		"prettier",
		"tailwindcss"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"linebreak-style": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		]
	},
	"settings": {
		"tailwindcss": {
			"callees": ["cn", "clsx", "ctl"],
			"config": "./tailwind.config.js"
		}
	}
}
